{% extends 'admin/index.html.twig' %}

{% block body %}
<div class="mb-3">
  <label for="" class="form-label"></label>
  <input type="text"
    class="form-control" aria-describedby="helpId" placeholder="">
  
</div>
{% endblock %}